[submodule "models/ia/anemoi_jmas"]
	path = models/ia/anemoi_jmas
	url = https://github.com/joaomas/anemoi_jmas.git
	branch = develop
[submodule "models/checks/nc"]
	path = models/checks/nc
	url = https://github.com/joaomas/check_nc.git
	branch = develop
